doctype html
html.no-js(lang='en', itemscope='', itemtype='http://schema.org/WebPage')
  head
    meta(charset='utf-8')
    meta(http-equiv='x-ua-compatible', content='ie=edge')
    title Schwill
    meta(name='description', content='')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='css/main.css?v=#{Date.now()}')
  body
    main
      block content

    script(src='js/vendor.js?v=#{Date.now()}')
    script(src="js/templates.js?v=#{Date.now()}")
    script(src='js/main.js?v=#{Date.now()}')
